%h1.text-center
  %strong= @team.name
%br
.row
  .col-md-6= image_tag(@team.photo.url, class: 'img-responsive fan-image')
  .col-md-6
    %p
      - @matches.each do |competition, matches|
        %h3= "#{competition.name} #{competition.year}"
        %br
        %table.table.table-striped
          - matches.each do |match|
            %tr
              %td= link_to proper_date(match.played), match
              %td.text-center= image_tag(match.first_team.flag, height: '20')
              %td.text-right= link_to match.first_team.name, match.first_team
              %td= match.first_score
              %td= "-"
              %td= match.second_score
              %td= link_to match.second_team.name, match.second_team
              %td.text-center= image_tag(match.second_team.flag, height: '20')
              %td= match.round.name
              %td= match.bet
