= simple_form_for(@type) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :match_id
    = f.input :first_score
    = f.input :second_score

  .form-actions
    = f.button :submit
