%h1.text-center= "Moje typy - #{@round.name}"
%br
.row
  .col-sm-2
    = round_link("Poprzednia", @round.id - 1)
  .col-sm-8
    %table.table.table-striped
      %tbody
        - @matches.each_with_index do |match, index|
          - type = match.types.where(user: current_user).first
          %tr
            %td= match.played.strftime("%d.%m.%Y, %H:%M")
            %td.text-center= image_tag(match.first_team.flag, height: '20')
            %td.text-right
              %strong= link_to match.first_team.name, match.first_team
            %td
              - if can_be_typed?(match.played)
                %td= link_to type.first_score, '#', inplace_editable({ type: 'number', resource: 'type', url: type_url(type, format: :json), value: type.first_score, name: 'first_score'})
                %td -
                %td= link_to type.second_score, '#', inplace_editable({ type: 'number', resource: 'type', url: type_url(type, format: :json), value: type.second_score, name: 'second_score'})
              - else
                %td= type.first_score
                %td -
                %td= type.second_score
            %td
              %strong= link_to match.second_team.name, match.second_team
            %td.text-center= image_tag(match.second_team.flag, height: '20')
            %td= type.bet
  .col-sm-2
    = round_link("Następna", @round.id + 1)