%h1 Twoje grupy

%table
  %thead
    %tr
      %th Name
      %th Token
      %th
      %th
      %th

  %tbody
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.token
        %td= link_to 'Show', group
        %td= link_to 'Edit', edit_group_path(group)
        %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }
        %td= link_to 'Turnieje', group_competitions_path(group)

%br

= link_to 'New Group', new_group_path
