%h1.text-center= @group.name
%br
%p
  %b Aby zaprosić nowego użytkownika do tej grupy, wyślij mu ten link:

.row
  .col-md-7
    .form-group

      %textarea#bar.form-control{ rows: 1 }
        = group_join_group_url(@group.id, @group.token)
  .col-md-5
    %button.btn{"data-clipboard-target" => "#bar"}
      Skopiuj

%h3 Obecne turnieje:

- @group.competitions.lasting.order('start_date desc').each do |competition|
  %li= link_to "#{competition.name} #{competition.year}", group_competition_matches_path(@group.id, competition.id)
%br
%h3 Przyszłe turnieje:

- @group.competitions.upcoming.order('start_date desc').each do |competition|
  %li= link_to "#{competition.name} #{competition.year}", group_competition_matches_path(@group.id, competition.id)
%br
%h3 Zakończone turnieje:

- @group.competitions.finished.order('start_date desc').each do |competition|
  %li= link_to "#{competition.name} #{competition.year}", group_competition_matches_path(@group.id, competition.id)
%br

- content_for(:third_party_js) do
  %script{ src: "https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js" }

:javascript
  var clipboard = new Clipboard('.btn');