%h1.text-center= @group.name
%br
- if @group.owner == current_user
  .row
    .col-md-2
    .col-md-7
      %b Aby zaprosić nowego użytkownika do tej grupy, wyślij mu ten link:
  %br
  .row
    .col-md-2
    .col-md-7
      .form-group

        %textarea#bar.form-control{ rows: 1 }
          = group_join_group_url(@group.id, @group.token)
    .col-md-2
      %button.btn{"data-clipboard-target" => "#bar"}
        Skopiuj

.text-center
  - @group.competitions.order('start_date desc').each do |competition|
    %h3= link_to competition.name, group_competition_matches_path(@group.id, competition.id)
    - unless current_user.competitions.include?(competition)
      = link_to 'Dołącz do turnieju!', user_join_competition_path(current_user, competition), class: 'btn btn-info'
    - else
      - rankings = Ranker.rank(@users.by_competition(competition), by: lambda{ |u| u.all_points(nil, competition)})
      %br

      %div.text-center
        %table.table.table-striped
          %thead
            %tr
              %th.text-center Miejsce
              %th.text-center Login
              %th.text-center Typy
              %th.text-center Wyniki
              %th.text-center Suma punktów
              %th.text-center Typowany zwycięzca

          - rankings.each do |rank|
            - rank_users = rank.rankables.group_by{|u| u.score_points(nil, competition)}
            - player_no = 0
            - rank_users.sort_by{|k, v| k}.reverse.each_with_index do |group, index|
              - group[1].each_with_index do |user, i|
                %tr
                  %td= set_place(rank.rank, player_no, i, index)
                  %td= link_to user.username, user_path(user)
                  %td= user.type_points(nil, competition)
                  %td= user.score_points(nil, competition)
                  %td= user.all_points(nil, competition)
                  %td= user.winner_type_team(competition, current_user)
                - player_no += 1


    %br


- content_for(:third_party_js) do
  %script{ src: "https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js" }

:javascript
  var clipboard = new Clipboard('.btn');
