%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Link dla nowych użytkowników:
  = "#{group_join_group_url(@group.id, @group.token)}"

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
