%h1= @user.username
%br
%table.table.table-stripped
  - if @user.types.present?
    - @user.types.includes(:match).joins(:match).order('matches.played').each do |type|
      - match = type.match
      %tbody
        %tr
          %td= proper_date(match.played)
          %td.text-center= image_tag(match.first_team.flag, height: '20')
          %td.text-right
            %strong= link_to match.first_team.name, match.first_team
          - if type_hidden?(match, @user, type)
            %td.text-center ?
          - else
            %td.text-center= "#{type.first_score} - #{type.second_score}"
          %td
            %strong= link_to match.second_team.name, match.second_team
          %td.text-center= image_tag(match.second_team.flag, height: '20')

  - else
    Użytkownik jeszcze nic nie wytypował