%table.table.table-striped
  %tr
    %td Użytkownik
    %td Punkty

    - @matches.each do |match|
      %td
        = link_to(match) do
          = image_tag(match.first_team.flag, height: '14')
          = match.first_team.abbreviation
          = image_tag(match.second_team.flag, height: '14')
          = match.second_team.abbreviation
          %br
          = "(#{match.first_score} - #{match.second_score})"

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.points
      - @matches.each do |match|
        %td= "#{match.types.where(user_id: user.id).first.try :first_score} - #{match.types.where(user_id: user.id).first.try :second_score}"
