%table.table.table-striped
  %tr.text-center
    %td Użytkownik
    %td Punkty

    - @matches.each do |match|
      %td.text-center
        = link_to(match.first_team) do
          = image_tag(match.first_team.flag, height: '14')
          = match.first_team.abbreviation
        %br/
        = link_to "#{match.first_score} - #{match.second_score}", match_path(match)
        %br/
        = link_to(match.second_team) do
          = image_tag(match.second_team.flag, height: '14')
          = match.second_team.abbreviation

  - @users.each do |user|
    %tr.text-center
      %td{ class: ('current-user' if user == current_user) }= link_to user.username, user_path(user)
      %td= user.points(@round)
      - @matches.each do |match|
        - type = match.types.where(user_id: user.id).first
        - if type_hidden?(match, user) && type.try(:bet).present?
          %td ?
        - else
          %td{ class: [('good-bet' if good_bet(match, type)), ('good-type' if good_type(match, type))] }
            = "#{type.try :first_score} - #{type.try :second_score}"
