%h1 Mecze

%table
  %tbody
    - @matches.each do |match|
      %tr
        %td= match.played.strftime("%d.%m.%Y, %H:%M")
        %td
          %strong= Team.find(match.first_team_id).name
        %td= "-"
        %td
          %strong= Team.find(match.second_team_id).name
        %td
          = link_to edit_match_path(match) do
            %span.glyphicon.glyphicon-pencil
        %td
          = link_to match, method: :delete, data: { confirm: 'Jesteś pewien?' } do
            %span.glyphicon.glyphicon-trash

%br

= link_to 'New Match', new_match_path
