.row
  .col-sm-6.text-right
    %p= image_tag(@match.first_team.flag, class: 'img-responsive')
  .col-sm-6
    %p= image_tag(@match.second_team.flag, class: 'img-responsive')
%h1.row.text-center
  %p= "#{@match.first_team.name} - #{@match.second_team.name}"
  %p= "(#{@match.first_score} : #{@match.second_score})"
