%p= link_to 'Dodaj nową grupę', new_admin_group_path, class: 'btn btn-default'

%table.table.table-striped.table-hover.records-index{ :'data-provides' => 'rowlink' }
  %tbody
    %tr
      %th Nazwa
      %th Token
      %th Właściciel
      %th Liczba użytkowników
      %th
      %th
    - @groups.each do |group|
      %tr
        %td= group.name
        %td= group.token
        %td= group.owner.try(:username)
        %td= group.users.count
        %td
          = link_to edit_admin_group_path(group) do
            %span.glyphicon.glyphicon-pencil
        %td
          = link_to admin_group_path(group), method: :delete, data: { confirm: 'Jesteś pewien?' } do
            %span.glyphicon.glyphicon-trash
