%h1 Aktywni użytkownicy
%br/
%table.table.table-striped.table-hover.sortable.records-index{ :'data-provides' => 'rowlink' }
  %tbody
    %tr
      %th Login
      %th Email
      %th Rola
      %th Bierze udział
      %th Zarejestrowany
      %th
      %th
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= user.role
        %td= user.take_part ? 'Tak' : 'Nie'
        %td= user.created_at
        %td
          = link_to edit_admin_user_path(user) do
            %span.glyphicon.glyphicon-pencil
        %td
          = link_to admin_user_path(user), method: :delete, data: { confirm: 'Jesteś pewien?' } do
            %span.glyphicon.glyphicon-trash
%br/
%h2 Usunięci użytkownicy
%br/
%table.table.table-striped.table-hover.records-index{ :'data-provides' => 'rowlink' }
  %tbody
    %tr
      %th Login
      %th Email
      %th Rola
      %th
      %th
    - @deleted_users.each do |user|
      %tr
        %td= user.username
        %td= user.email
        %td= user.role
        %td
        %td