= simple_form_for(@team, url: polymorphic_url([:admin, @team]), html: { class: 'form-horizontal' }, wrapper: :horizontal_form ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :name_en
    = f.input :abbreviation
    = f.input :flag
    .form-group
      - unless @team.photo.nil?
        %label Obecna fotka
        %br/
        = image_tag @team.photo.url(:thumb) if @team.photo.url
      = f.file_field :photo

  .form-actions
    = f.button :submit, 'Zapisz drużynę'
