= simple_form_for(@competition, url: polymorphic_url([:admin, @competition]), html: { class: 'form-horizontal' }, wrapper: :horizontal_form ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: true
    = f.input :year, include_blank: false, required: true
    = f.input :start_date, as: :string, input_html: { value: played_value(@competition.start_date) }
    = f.input :end_date, as: :string, input_html: { value: played_value(@competition.end_date) }
    = f.input :place
    = f.input :winner_id, collection: Team.all

  .form-actions
    = f.button :submit, 'Zapisz mecz'
