= simple_form_for(@competition, url: polymorphic_url([:admin, @competition]), html: { class: 'form-horizontal' }, wrapper: :horizontal_form ) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: true
    = f.input :year, include_blank: false, required: true
    = f.input :place

  .form-actions
    = f.button :submit, 'Zapisz mecz'
