.col-md-2
  .row
    = link_to admin_matches_path, class: "btn btn-default btn-block" do
      .text-left
        Mecze
  .row
    = link_to admin_users_path, class: "btn btn-default btn-block" do
      .text-left
        Użytkownicy
  .row
    = link_to admin_groups_path, class: "btn btn-default btn-block" do
      .text-left
        Grupy
  .row
    = link_to admin_rounds_path, class: "btn btn-default btn-block" do
      .text-left
        Rundy
  .row
    = link_to admin_teams_path, class: "btn btn-default btn-block" do
      .text-left
        Drużyny
  .row
    = link_to admin_competitions_path, class: "btn btn-default btn-block" do
      .text-left
        Turnieje
  .row
    = link_to admin_settings_path, class: "btn btn-default btn-block" do
      .text-left
        Ustawienia