!!!
%html
  %head
    %title Typerek
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Latest compiled and minified CSS
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel: "stylesheet" }
    / Optional theme
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css", rel: "stylesheet" }
    / Latest compiled and minified JavaScript
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" }
    = favicon_link_tag 'favicon.ico'
    = yield :third_party_js

  #holder
    %body
      = render 'layouts/navbar'

      #body.container
        %br
        - flash.each do |key, value|
          %div{ class: "alert alert-#{key}" }
            = value

        = yield :top_content
        %br
        %h1= yield :header
        - if request.env['PATH_INFO'].include?('admin') && current_user.is_admin?
          = render 'layouts/admin_menu'
          .col-md-10
            = yield
        - else
          = yield

        %footer.row
          .large-12.columns
            %hr
              %p.pull-left
                EuroTyper 2016 by
                %a{ href: "http://github.com/pulpecja" } @pulpecja
