!!!
%html
  %head
    %title EuroTyper
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    / Latest compiled and minified CSS
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel: "stylesheet" }
    / Optional theme
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css", rel: "stylesheet" }
    / Latest compiled and minified JavaScript
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" }
    = favicon_link_tag 'favicon.ico'
  %body
    = render 'layouts/navbar'

    .container
      - flash.each do |key, value|
        %div{ class: "alert alert-#{key}" }
          = value
    = yield :top_content
    .container
      %h1= yield :header
      - if request.env['PATH_INFO'].include?('admin') && current_user.is_admin?
        .col-md-2
          .row
            = link_to admin_matches_path, class: "btn btn-default btn-block" do
              .text-left
                Mecze
          .row
            = link_to admin_users_path, class: "btn btn-default btn-block" do
              .text-left
                Użytkownicy
          .row
            = link_to admin_rounds_path, class: "btn btn-default btn-block" do
              .text-left
                Rundy
          .row
            = link_to admin_teams_path, class: "btn btn-default btn-block" do
              .text-left
                Drużyny
        .col-md-10
          = yield
      - else
        = yield